
.set-input {
    height: 38px;
    width: 50%;
}

.set-main {
    background-color: #f2f2f2;
}

.set-inner-main {
    background-color: #fff;
}
@media only screen and (min-width: 425px) and (max-width: 767px)
{
	#set-search
	{
		display: flex !important;

	}
	.deleivered span i
	{
			display: none;
	}
	#set-search input
	{
			margin-top: 1%;
	}
	#set-search button
	{
		margin-right: 1%;
	}
	.set-inner-main
	{
		margin-right: 2rem !important;
		margin-left: 2rem !important;
	}
	.set-main
	{
		margin-right: 2rem !important;
		margin-left: 2rem !important;
	}
}


@media only screen and (max-width: 424px)
{
	#set-search
	{
		display: flex !important;

	}
.set-inner-main
	{
		margin-right: 2rem !important;
		margin-left: 2rem !important;
	}
	.set-main
	{
		margin-right: 1rem !important;
		margin-left: 1rem !important;
	}
	.deleivered span i
	{
			display: none;
	}
	#set-search input
	{
			margin-top: 1%;
	}
	#set-search button
	{
		margin-right: 1%;
	}
}